<html>
    <head>
        <title>Gecko's Blog</title>
        
        {% load staticfiles %}

        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
    </head>
    <body>
       <div>
    <h1>Gecko's Blog</h1>
        </div>
        <div>
            <a href="{% url 'newpost' %}"><button>New Post</button></a>
            
        </div>        
        {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p>published: {{ post.post_date }}</p>
                <p id="postbody">{{ post.body|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>